* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #09090B;
  color: #FAFAFA;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-highlight {
  color: #22D4FD;
}

em {
  color: #22D4FD;
}

img {
  width: 445px;
  height:455px;
}
