@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #09090B;
  color: #FAFAFA;
}

.title-highlight {
  color: #22D4FD;
}

.presentation {
  margin: 10% 20.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentation__content {
  display: flex;
  flex-direction: column;
  width: 620px;
  gap: 40px;
}

.presentation__content__heading {
  font-size: 36px;
  font-family: "Krona One", sans-serif;
}

.presentation__content__paragraph {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}

.presentation__contacts {
  display: flex;
  justify-content: space-between;
}

.presentation__contacts__link {
  background-color: #22D4FD;
  color: #09090B;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  text-decoration: none;
  width: 280px;
  border-radius: 16px;
  padding: 21.5px 0;
  text-align: center;
}

em {
  color: #22D4FD;
}

img {
  width: 435px;
  height:455px;
}
